* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  background-color: #101010;
  color: #fff;
  overflow-x: hidden;
  width: 100vw;
}

ul {
  display: flex;
  flex-direction: column;
}

li {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

.navbar__wrapper {
  width: 100%;
  padding: 3rem 3.5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #101010;
  z-index: 100;
  height: 5rem;
}

.navbar__logo {
  width: 105px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
}

.navbar__logo::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.navbar__logo img {
  width: 100%;
  height: 100%;
}

.range-slider__btn {
  cursor: pointer;
}

.range-slider__btn svg {
  width: 5rem;
}

.range-slider__wrapper__items {
  visibility: hidden;
  position: absolute;
  left: 0;
  top: -180%;
  width: 100%;
  height: 180%;
  background-color: #101010;
  display: flex;
  gap: 1.5rem;
  padding: 1.5rem 2.5rem;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.7s ease;
  opacity: 1;
}

.range-slider__wrapper--visible {
  visibility: visible;
  top: 0;
}

.range-slider__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  gap: 2.5rem;
  margin-top: -2rem;
}

.range-slider__item label {
  font-size: 1.5rem;
}

@media (max-width: 600px) {
  .range-slider__item label {
    font-size: 1.25rem;
  }
}

.range-slider__item input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15rem;
  height: 2px;
  outline: none;
  background-color: #fff;
}

@media (max-width: 600px) {
  .range-slider__item input {
    width: 10rem;
  }
}

.range-slider__item input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background-color: #101010;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}

.range-slider__item input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background-color: #101010;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}

.panels__container {
  width: 100%;
  margin: 1.75rem 0;
  position: absolute;
  overflow: hidden;
  top: 5rem;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 10;
  padding: 0 3.5rem;
  width: 100vw;
}

@media (max-width: 600px) {
  .panels__container {
    padding: 0 1.5rem;
  }
}

.panels__container__columns__wrapper {
  display: flex;

  width: 100%;
  height: 100%;
  margin-bottom: 1.5rem;
}

.panel__col-item__wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.panel__item__wrapper {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.panel__item__wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 300ms ease-out;
}

.panel__item__wrapper:hover img {
  transform: scale(1.08);
}
